@charset "UTF-8";
body{
    background-color: beige;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: darkblue;
    background-color: azure;
}
h2{
    color: brown;
}
